.cas-section {
  width: 100%;
  padding: 80px 0;
  background-color: #ffffff;
}

.cas-wrapper {
  max-width: 1274px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
  animation: slideInBottom 10s ease-out forwards
}

@keyframes slideInBottom {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* IMAGE SIDE */
.cas-image-box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.cas-image-border {
  width: 563px;
  height: 388px;
  border: 1.5px dashed #3d53a3;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cas-image-border img {
  width: 542px;
  height: 374px;
  object-fit: cover;
  border-radius: 12px;
}

/* CONTENT SIDE */
.cas-content {
  flex: 1;
  max-width: 595px;
}

.cas-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #3d53a3;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}

.cas-title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 28px;
  height: 3px;
  background-color: #f0942a;
  border-radius: 2px;
}

.cas-content p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  color: #525252;
  margin-bottom: 16px;
}
