/* SECTION WRAPPER */
.inclusive-wrapper {
  width: 100%;
  padding: 80px 20px;
  background-color: #ffffff;
}

/* MAIN CONTAINER */
.inclusive-container {
  max-width: 1274px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  animation: slideInBottom 10s ease-out forwards
}

@keyframes slideInBottom {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* LEFT CONTENT */
.inclusive-text {
  width: 597px;
}

.section-dot {
  display: inline-block;
  width: 18px;
  height: 3px;
  background-color: #f0942a;
  margin-bottom: 12px;
}

.inclusive-title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3d53a3;
  margin-bottom: 20px;
}

.inclusive-text p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #525252;
  margin-bottom: 18px;
}

/* RIGHT IMAGE */
.inclusive-image-wrapper {
  width: 563px;
  height: 388px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inclusive-image-border {
  width: 563px;
  height: 388px;
  border: 1.5px dashed #3d53a3;
  border-radius: 17px;
  padding: 12px;
}

.inclusive-image-border img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .inclusive-container {
    flex-direction: column;
  }

  .inclusive-text,
  .inclusive-image-wrapper {
    width: 100%;
  }
}
