.pagehero1 {
  position: relative;
  width: 100%;
  height: 301px;
  overflow: hidden;
}

.pagehero1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.pagehero1 h1 {
  position: absolute;
 top: 78%;
    left: 51%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
