.admission-cta {
  width: 100%;
  padding: 80px 20px;
  text-align: center;
  background-color: #ffffff;
}

/* small orange line */
.cta-line {
  display: inline-block;
  width: 24px;
  height: 3px;
  background-color: #f0942a;
  margin-bottom: 12px;
  border-radius: 2px;
}

/* ADMISSION OPEN */
.cta-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #3d53a3;
  margin-bottom: 12px;
}

/* school name */
.cta-school {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #525252;
  margin-bottom: 16px;
}

/* description */
.cta-desc {
  max-width: 1100px;
  margin: 0 auto 32px auto;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #525252;
}

/* enroll button */
.cta-btn {
  width: 160px;
  height: 42px;

  background-color: #f0942a;
  color: #ffffff;
  border: none;
  border-radius: 43px;

  font-family: "GT America Trial", "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #e5831f;
}
