.admission-section {
  width: 100%;
  background-color: #ffffff;

  /* GAP ABOVE & BELOW */
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.admission-container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

/* Small orange line */
.admission-line {
  display: inline-block;
  width: 24px;
  height: 3px;
  background-color: #f0942a;
  margin-bottom: 12px;
  border-radius: 2px;
}

/* Main heading */
.admission-title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3d53a3;
  margin-bottom: 16px;
}

/* School name */
.admission-school {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #525252;
  margin-bottom: 16px;
}

/* Description text */
.admission-desc {
  max-width: 930px;
  margin: 0 auto 28px auto;

  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  color: #525252;
}

/* Button */
.admission-btn {
  background-color: #f0942a;
  color: #ffffff;
  border: none;
  border-radius: 43px;

  padding: 10px 36px;
  font-family: "GT America", "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;

  transition: all 0.3s ease;
}

.admission-btn:hover {
  background-color: #d87f1e;
}
