.school-timings-section {
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.school-timings-container {
  width: 1274px;
  height: 546px;
  display: flex;
  gap: 40px;
  align-items: center;
  animation: slideInBottom 10s ease-out forwards
}

@keyframes slideInBottom {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* IMAGE SIDE */
.image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}



.image-border {
  width: 672px;
  height: 386px;
  border: 1.5px dashed #3d53a3;
  border-radius: 10px;
  padding: 10px;
}

.image-border img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1.5px solid #3d53a3;
}

/* CONTENT SIDE */
.content-wrapper {
  flex: 1;
}

.main-heading {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #3d53a3;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sub-heading {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #f0942a;
  margin-bottom: 6px;
}

.sub-heading.office {
  margin-top: 20px;
}

.text {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #525252;
  line-height: 24px;
  margin-bottom: 4px;
}
