/* SECTION */
.submit-section {
  width: 100%;
  padding: 80px 0;              /* top & bottom gap */
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

/* MAIN CONTAINER */
.submit-container {
  width: 1274px;
  display: flex;
  align-items: center;
  gap: 60px;
}


/* IMAGE WRAPPER */
.submit-image-wrapper {
  width: 563px;
  height: 382px;
  border: 1.5px dashed #3d53a3;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;

}



/* IMAGE */
.submit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
    animation: slideInBottom 10s ease-out forwards
}

@keyframes slideInBottom {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* CONTENT */
.submit-content {
  max-width: 595px;
}

/* TITLE */
.submit-title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3d53a3;
  margin-bottom: 20px;
}

/* TEXT */
.submit-text {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2%;
  color: #525252;
  margin-bottom: 16px;
}

/* LINK */
.submit-link {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #f0942a;
  text-decoration: none;
  cursor: pointer;
}
