/* SECTION */
.whyus-section {
  width: 100%;
  padding: 80px 0;
  background-color: #ffffff;
}

/* CONTAINER */
.whyus-container {
  max-width: 1274px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  align-items: center;
}

/* LEFT CONTENT */
.whyus-content {
  width: 50%;
}

.whyus-line {
  display: inline-block;
  width: 24px;
  height: 3px;
  background-color: #f0942a;
  margin-bottom: 10px;
}

.whyus-title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3d53a3;
  margin-bottom: 16px;
}

.whyus-text {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #525252;
  margin-bottom: 16px;
}

/* RIGHT IMAGES */
.whyus-images {
  width: 50%;
  position: relative;
    animation: slideInBottom 10s ease-out forwards
}

@keyframes slideInBottom {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* MAIN IMAGE WITH BORDER */
.main-image {
  width: 520px;
  height: 395px;

  border: 1.5px dashed #3d53a3;   
  border-radius: 10px;

  padding: 6px;               
  background-color: #ffffff;

  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;           
}


/* DASHED CIRCLE BORDER */
.circle-border {
  position: absolute;
  bottom: -35px;
  left: -35px;

  width: 230px;
  height: 230px;

  border: 1.5px dashed #3d53a3;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* INNER CIRCLE IMAGE */
.circle-image {
  width: 210px;
  height: 210px;
  background-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
