/* CallToAction.css */
.cta-section {
  width: 100%;
  background: #ffffff;
  padding: 100px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/* small orange line */
.cta-line {
  display: block;
  width: 28px;
  height: 4px;
  background: #f39a2b;
  margin: 0 auto 20px;
  border-radius: 2px;
  animation: cta-title 20s ease-out forwards;
}

/* main heading */
.cta-title {
  font-size: 28px;
  font-weight: 700;
  color: #3a53a4;
  letter-spacing: 1px;
  margin-bottom: 16px;
animation: cta-title 20s ease-out forwards;
}
  

@keyframes cta-title {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}



/* school name */
.cta-subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #3c3c3c;
  margin-bottom: 20px;
  
}

/* paragraph text */
.cta-text {
  max-width: 900px;
  margin: 0 auto 40px;
  font-size: 16px;
  line-height: 28px;
  color: #6b6b6b;
}

/* button */
.cta-btn {
  background: #f39a2b;
  color: #ffffff;
  border: none;
  width: 160;
height: 42;
  /* padding: 14px 36px; */
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 43px;
  transition: background 0.3s ease-in-out;

  animation: cta-btn 20s ease-out forwards;
}

@keyframes cta-btn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.cta-btn:hover {
  background: #e88c1f;
}
