.campus-section {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 60px;
  padding: 80px 60px;
  background-color: #ffffff;
  align-items: center;
}

.campus-content {
  max-width: 520px;
}

.campus-tag {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  color: #3d53a3;
  margin-bottom: 18px;
}

.campus-text {
  font-size: 15px;
  line-height: 24px;
  color: #525252;
}

.campus-btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;

  background: none;
  border: none;
  color: #525252;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.campus-arrow {
  width: 50px;
  height: 50px;
  background-color: #f0942a;
  color: #ffffff;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.campus-images-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 572px;
  width: 638px;
   border: 1.5px dashed #3d53a3;
   border-radius: 90px;

}

.campus-images {
  width: 620px;
  height: 554px;
margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;

}

.campus-images img {
  width: 310px;
  height: 277px;
}

.campus-images img:nth-child(1) {
  border-top-left-radius: 80px;
  border-bottom-right-radius: 110px;
  animation: one 10s ease-out forwards;
}

@keyframes one {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.campus-images img:nth-child(2) {
border-top-right-radius: 80px;
border-bottom-left-radius: 110px;
 animation: two 10s ease-out forwards
}

@keyframes two {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.campus-images img:nth-child(3) {
 border-top-right-radius: 110px;
 border-bottom-left-radius: 80px;
 animation: one 10s ease-out forwards;
}

.campus-images img:nth-child(4) {
  border-top-left-radius: 110px;
  border-bottom-right-radius: 80px;
  animation: two 10s ease-out forwards
}


@media (max-width: 1024px) {
  .campus-section {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .campus-images {
    width: 100%;
    height: auto;
  }
}
