.highlight-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px 0; /* gap above & below */
}

.highlight-text {
  max-width: 1184px; /* Figma width */
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #525252;
}

.highlight-span {
  font-weight: 600; /* SemiBold */
  color: #f0942a; /* Orange highlight */
}
