@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes campus-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes campus-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-campus-left {
    animation: campus-left 1s ease-out forwards;
  }

  .animate-campus-right {
    animation: campus-right 1s ease-out forwards;
  }
}


@keyframes life-up {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes life-down {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-life-up {
    animation: life-up 1s ease-out forwards;
  }

  .animate-life-down {
    animation: life-down 1s ease-out forwards;
  }
}

@keyframes cta-title {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes cta-btn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-cta-title {
    animation: cta-title 1s ease-out forwards;
  }

  .animate-cta-btn {
    animation: cta-btn 1s ease-out forwards;
  }
}


@keyframes principal-slide {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-principal-image {
    animation: principal-slide 2s ease-out forwards;
  }
}


@keyframes slide-in-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-slide-right {
    animation: slide-in-right 2s ease-out forwards;
  }
}
