.mission-section {
  width: 100%;
  background: #ffffff;
  padding: 80px 0;
}

.mission-container {
  max-width: 1272px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* CARD */
.mission-card {
  background: #ffffff;
  border-radius: 17px;
  padding: 22px;
  box-shadow: 0px 0px 25px 0px #ADADAD40;
  display: flex;
  flex-direction: column;
  background-color: #E1E1E1;
}

/* ORANGE LINE */
.orange-line {
  width: 18px;
  height: 3px;
  background: #f7941d;
  margin-bottom: 10px;
}

/* TITLE */
.mission-card h3 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #3d53a3;
  margin-bottom: 10px;
}

/* TEXT */
.mission-card p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #525252;
  margin-bottom: 18px;
}

/* IMAGE */
.mission-image {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
}

.mission-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DOTS */
.dots {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.dots span {
  width: 5px;
  height: 5px;
  background: #d9d9d9;
  border-radius: 50%;
}

.dots span.active {
  background: #3d53a3;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .mission-container {
    grid-template-columns: 1fr;
  }
}
